body {
  text-align: center;
}

input {
  margin: 0 15px 0 0;
  font-size: 25px;
  padding: 3px;
  width: 502px;
}

ul {
  width: 650px;
  margin: 20px auto;
  list-style-type: none;
  padding: 0;
}

li {
  margin-top: 40px;
  text-align: left;
}

li h3 {
  margin: 0;
}

li p {
  margin: 0;
}

span.code {
  color: #575656;
}