body {
  text-align: center;
}

input {
  margin: 0 15px 0 0;
  font-size: 25px;
  padding: 3px;
  width: 502px;
}

abbr {
  border-bottom: 1px dotted black;
}

ul.results {
  width: 650px;
  margin: 20px auto;
  list-style-type: none;
  padding: 0;
}

.results li {
  margin-top: 40px;
  text-align: left;
}

.results li h3 {
  margin: 0;
}

.results li p {
  margin: 0;
}

span.code {
  color: #575656;
}

ul.props {
  list-style-type: disc;
}

.props li {
  margin-top: 10px;
  margin-bottom: 10px;
}